flow.json
[
    {
        "id": "f0166d14.e4e0c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76085a4e.9eed44",
        "type": "ui_tab",
        "name": "Other",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9895f781.42a5e8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "m2mqtt_srv.crt",
        "keyname": "m2mqtt_srv.key",
        "caname": "m2mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "39f079e8.8d0cd6",
        "type": "mqtt-broker",
        "name": "domotica",
        "broker": "192.168.1.122",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ebb1ed1c.5ebe2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "48d01de6.b64724",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "5ad4eaa8.1826e4",
        "type": "server-state-changed",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.switch_60_battery_level",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "yu",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 710,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f3375175.ff6f",
        "type": "debug",
        "z": "f0166d14.e4e0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "7979bebf.06641",
        "type": "server-events",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "event_type": "deconz_event",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 530,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8a50152a.6ec2e8",
        "type": "trigger-state",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.switch_60_battery_level",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "f3375175.ff6f"
            ],
            [
                "f3375175.ff6f"
            ]
        ]
    }
]