flow.json
[
    {
        "id": "f0166d14.e4e0c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76085a4e.9eed44",
        "type": "ui_tab",
        "name": "Other",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9895f781.42a5e8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "m2mqtt_srv.crt",
        "keyname": "m2mqtt_srv.key",
        "caname": "m2mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "39f079e8.8d0cd6",
        "type": "mqtt-broker",
        "name": "domotica",
        "broker": "192.168.1.122",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ebb1ed1c.5ebe2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "48d01de6.b64724",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "29f75ce1.2ab4e4",
        "type": "deconz-server",
        "name": "deconz domotica",
        "ip": "192.168.1.122",
        "port": "8090",
        "apikey": "32420ABFAD",
        "ws_port": "8088",
        "secure": false,
        "polling": "15"
    },
    {
        "id": "cf1dd3c5.d9aa9",
        "type": "api-call-service",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.2",
        "data": "{\"brightness_pct\": 100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "5f4bd365.88ab1c"
            ]
        ]
    },
    {
        "id": "5f4bd365.88ab1c",
        "type": "debug",
        "z": "f0166d14.e4e0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 780,
        "wires": []
    },
    {
        "id": "efa23626.a3f8b8",
        "type": "server-events",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "event_type": "state_changed",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "e6963f4d.81c4a"
            ]
        ]
    },
    {
        "id": "e6963f4d.81c4a",
        "type": "switch",
        "z": "f0166d14.e4e0c",
        "name": "",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "binary_sensor.sensor_drawer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "6dc00faa.bbb71"
            ]
        ]
    },
    {
        "id": "6dc00faa.bbb71",
        "type": "switch",
        "z": "f0166d14.e4e0c",
        "name": "ON/OFF",
        "property": "payload.event.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "c6567b2.fbc2288"
            ],
            [
                "cf1dd3c5.d9aa9"
            ]
        ]
    },
    {
        "id": "c6567b2.fbc2288",
        "type": "api-call-service",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.2",
        "data": "{\"transition\": 50}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1170,
        "y": 520,
        "wires": [
            [
                "5f4bd365.88ab1c"
            ]
        ]
    },
    {
        "id": "90bbf286.f81f",
        "type": "deconz-get",
        "z": "f0166d14.e4e0c",
        "name": "aqara1",
        "server": "29f75ce1.2ab4e4",
        "device": "00:15:8d:00:02:c6:5a:d6-01",
        "device_name": "Aqara1 : Color temperature light",
        "state": "0",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "c3eeb16d.aae83"
            ]
        ]
    },
    {
        "id": "88418495.b3e6b8",
        "type": "inject",
        "z": "f0166d14.e4e0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "90bbf286.f81f"
            ]
        ]
    },
    {
        "id": "c3eeb16d.aae83",
        "type": "debug",
        "z": "f0166d14.e4e0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "417d0846.d4db48",
        "type": "deconz-output",
        "z": "f0166d14.e4e0c",
        "name": "aqara1",
        "server": "29f75ce1.2ab4e4",
        "device": "00:15:8d:00:02:c6:5a:d6-01",
        "device_name": "Aqara1 : Color temperature light",
        "command": "on",
        "commandType": "deconz_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transitionTime": "1200",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "2b11da9f.8c22e6",
        "type": "inject",
        "z": "f0166d14.e4e0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "417d0846.d4db48"
            ]
        ]
    },
    {
        "id": "20ae86e4.0e5f8a",
        "type": "deconz-output",
        "z": "f0166d14.e4e0c",
        "name": "aqara1",
        "server": "29f75ce1.2ab4e4",
        "device": "00:15:8d:00:02:c6:5a:d6-01",
        "device_name": "Aqara1 : Color temperature light",
        "command": "toggle",
        "commandType": "deconz_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "transitionTime": "120",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "2113c7c.3809038",
        "type": "inject",
        "z": "f0166d14.e4e0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "20ae86e4.0e5f8a"
            ]
        ]
    },
    {
        "id": "5ee8a525.f7c45c",
        "type": "inject",
        "z": "f0166d14.e4e0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "417d0846.d4db48"
            ]
        ]
    },
    {
        "id": "c78c1a90.0d4b78",
        "type": "inject",
        "z": "f0166d14.e4e0c",
        "name": "",
        "props": [
            {
                "p": "payload.domain",
                "v": "light",
                "vt": "str"
            },
            {
                "p": "payload.service",
                "v": "toggle",
                "vt": "str"
            },
            {
                "p": "payload.data",
                "v": "{\"entity_id\": l\"ight.2\",\"brightness_pct\": 100}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 520,
        "y": 1160,
        "wires": [
            [
                "8c88dfec.18954",
                "6cd7dd0.6bf7224"
            ]
        ]
    },
    {
        "id": "8c88dfec.18954",
        "type": "api-call-service",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "{\"brightness_pct\": 100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6cd7dd0.6bf7224",
        "type": "debug",
        "z": "f0166d14.e4e0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1280,
        "wires": []
    }
]