flow.json
[
    {
        "id": "f0166d14.e4e0c",
        "type": "tab",
        "label": "Automation sensor_drawer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aee8ddaf.b36bb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76085a4e.9eed44",
        "type": "ui_tab",
        "name": "Other",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9895f781.42a5e8",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "m2mqtt_srv.crt",
        "keyname": "m2mqtt_srv.key",
        "caname": "m2mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "39f079e8.8d0cd6",
        "type": "mqtt-broker",
        "name": "domotica",
        "broker": "192.168.1.122",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ebb1ed1c.5ebe2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "48d01de6.b64724",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "29f75ce1.2ab4e4",
        "type": "deconz-server",
        "name": "deconz domotica",
        "ip": "192.168.1.122",
        "port": "8090",
        "apikey": "32420ABFAD",
        "ws_port": "8088",
        "secure": false,
        "polling": "15"
    },
    {
        "id": "5f4bd365.88ab1c",
        "type": "debug",
        "z": "f0166d14.e4e0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 780,
        "wires": []
    },
    {
        "id": "efa23626.a3f8b8",
        "type": "server-events",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "event_type": "state_changed",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "e6963f4d.81c4a"
            ]
        ]
    },
    {
        "id": "e6963f4d.81c4a",
        "type": "switch",
        "z": "f0166d14.e4e0c",
        "name": "",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "binary_sensor.sensor_drawer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "6dc00faa.bbb71"
            ]
        ]
    },
    {
        "id": "6dc00faa.bbb71",
        "type": "switch",
        "z": "f0166d14.e4e0c",
        "name": "ON/OFF",
        "property": "payload.event.new_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "f91a0133.1959a"
            ],
            [
                "108a1437.16bb7c"
            ]
        ]
    },
    {
        "id": "8c88dfec.18954",
        "type": "api-call-service",
        "z": "f0166d14.e4e0c",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1190,
        "y": 740,
        "wires": [
            [
                "5f4bd365.88ab1c"
            ]
        ]
    },
    {
        "id": "f91a0133.1959a",
        "type": "change",
        "z": "f0166d14.e4e0c",
        "name": "light.2 turn_off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"domain\": \"light\",\t\"service\": \"turn_off\",\t\"data\":{\"entity_id\": \"light.2\",\"transition\": 60}\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 620,
        "wires": [
            [
                "8c88dfec.18954"
            ]
        ]
    },
    {
        "id": "108a1437.16bb7c",
        "type": "change",
        "z": "f0166d14.e4e0c",
        "name": "light.2 turn_on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"domain\": \"light\",\t\"service\": \"turn_on\",\t\"data\":{\"entity_id\": \"light.2\"\t    ,\"brightness_pct\": 100}\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 860,
        "wires": [
            [
                "8c88dfec.18954"
            ]
        ]
    },
    {
        "id": "38ef961a.b0f15a",
        "type": "api-call-service",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "server": "48d01de6.b64724",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "",
        "entityId": "switch.espresso, switch.grinder",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1230,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "59c957d4.8ce158",
        "type": "inject",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "props": [
            {
                "p": "payload.service",
                "v": "toggle",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "38ef961a.b0f15a"
            ]
        ]
    },
    {
        "id": "57951619.bab058",
        "type": "timerswitch",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "ontopic": "",
        "offtopic": "",
        "onpayload": "{\"service\": \"turn_on\"}",
        "offpayload": "{\"service\": \"turn_of\"}",
        "disabled": false,
        "schedules": [
            {
                "on_h": "17",
                "on_m": "35",
                "on_s": "00",
                "off_h": "17",
                "off_m": "36",
                "off_s": "00",
                "valid": true
            }
        ],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "a13b6b66.d33db8"
            ]
        ]
    },
    {
        "id": "e2282d4.29f65d",
        "type": "switch",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a85dba0a.6c82a8",
        "type": "change",
        "z": "aee8ddaf.b36bb",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"service\": \"turn_on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7de744fa.0eae2c",
        "type": "change",
        "z": "aee8ddaf.b36bb",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"service\": \"turn_off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "39d9cae3.dcf7f6",
        "type": "debug",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "a13b6b66.d33db8",
        "type": "json",
        "z": "aee8ddaf.b36bb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "39d9cae3.dcf7f6"
            ]
        ]
    }
]